.ipynb_checkpoints/
**/.ipynb_checkpoints/
venv
*.idx
*.mp4
*.grib
test.txt
__pycache__/
**/__pycache__/
.idea
emc.py
*.pt
*.npy
*.json
*.png
*.zip
gnn_test
*.txt
.DS_store
catboost_info
data
*.png
*.svg
*.pdf
Untitled.ipynb
.cdsapirc
*.npy
