ecmwflibs
ecmwf-api-client
cdsapi
jupyterlab~=3.6.3
matplotlib
xarray
xgboost
eccodes
cfgrib
cartopy
numpy
optuna
pre-commit
scikit-learn
scipy
statsmodels
fastapi
uvicorn
catboost
fastapi
uvicorn
seaborn
tabulate
lightgbm