cdsapi
jupyterlab~=3.6.3
matplotlib
xarray
xgboost
cfgrib
eccodes
ecmwflibs
ecmwf-api-client
cartopy
numpy
optuna
pre-commit
scikit-learn
scipy
torch
torch_geometric
statsmodels
fastapi
uvicorn
pygrib
catboost
